
.idea
dev

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore .pth files
*.pth

# Ignore pickled files
*.pkl

# Ignore Jupyter notebooks checkpoints and runtime files
.ipynb_checkpoints/
*.ipynb.meta
*.ipynb_checkpoints/

# Ignore pycache files
*.pyc 


# Ignore runs directory
runs/

# Ignore logs directory
*.log

*.npy

venv/

log/

past_run/

LEVIR-CD
xview2

